
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Convert num to romain</title>
<link href="{% static "convertion/css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static "convertion/js/jquery-1.11.3.js" %}"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('.convert').click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'convertion:index'  %}",
                    dataType: "json",
                    data: $('#form_convert').serialize(),
                    success : function(json) {
                            $('#result').html( 'Number: '+ json.number +' = ' + json.convert);
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                }); 
                return false;
            })            
        });
</script>
</head>
<body> 

    <div class="content" >
        
        <h3>Hello welcome</h3>
        <h4>This web site help you to convert a integer between 1 and 3999 to Roman numerals</h4>
        <form action="{% url 'convertion:index'  %}" id="form_convert" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Convert" class="convert"/>
        </form>
        <br/>
        <br/>
      <div id="result"></div>
       
</div>
</body>
</html>