
body{
	font-family:Arial;
}

.content
    {
    margin: auto;
    margin-top: 10%;
    width: 60.5%;
    height: 250px;
    text-align: center;
    background-color:#E4EFFF;
    border:1px solid #9FC6FF;
    padding:5px;
    /*arrondir les coins en haut à gauche et en bas à droite*/
    -moz-border-radius:10px 10;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}
h3{
    text-align: center;
}
h4{
    color: dimgray;
}